/* 1. Use a more-intuitive box-sizing model. */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* 2. Remove default margin */
* {
  margin: 0;
}

/*
3. Allow percentage-based heights in Figma
*/
html,
body {
  height: 100%;
}

/*
Typographic tweaks!
4. Add accessible line-height
5. Improve text rendering
*/
body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}

/* 6. Improve media defaults */
img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

/* 7. Remove built-in form typography styles */
input,
button,
textarea,
select {
  font: inherit;
}

/* 8. Avoid text overflows */
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
  color: white;
}

a {
  text-decoration: none;
  color: white;
  font-size: 1.2rem;
}

p {
  font-size: 1.3rem;
}

/* 9. Create a root stacking context */
#root,
#__next {
  isolation: isolate;
}

/* My CSS */

body {
  background-color: #0f0f0f;
  font-family: "Lexend", sans-serif;
  overflow-x: hidden;
}

.wrapper {
  margin: 3em 5em;
  padding: 0em 3em;
  max-width: 1650px;
  margin-inline: auto;
  position: relative;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 7em;
  position: relative;
}

.header-left {
  display: flex;
  align-items: center;
  justify-content: center;
}

.logo-text {
  font-size: 1.1rem;
  width: 180px;
}

.header-left img {
  width: 3.5rem;
  margin-right: 1em;
}

nav ul {
  list-style: none;
  display: flex;
  width: 100%;
}

nav ul li {
  margin: 1em;
  text-shadow: 0px 0px 5px #FFFFFF;
  transition : all ease 0.5s;
}

nav ul li:hover {
	text-shadow: 0px 0px 20px #FFFFFF;
}

@keyframes fade-up {
  0% {
    opacity: 0;
    transform: translateY(30px) scale(0.9);
  }

  100% {
    opacity: 1;
    transform: translateY(0px) scale(1);
  }
}

@keyframes fade-down {
  0% {
    opacity: 0;
    transform: translateY(-30px) scale(0.9);
  }

  100% {
    opacity: 1;
    transform: translateY(0px) scale(1);
  }
}

.animate-down {
  animation: fade-down 1s;
}

.sidebar {
  position: fixed;
  top: 0;
  right: 0;
  height: 100vh;
  width: 250px;
  z-index: 999;
  background-color: rgba(255, 255, 255, 0.106);
  backdrop-filter: blur(30px);
  box-shadow: -10px 0 -10px #171717b1;
  display: none;
  flex-direction: column;
  animation: fade-down 0.5s;
}

.menu-button {
  display: none;
}

@media(max-width: 876px) {
  .hideOnMobile {
    display: none;
  }

  .menu-button {
    display: block;
  }
}

@media(max-width: 400px) {
  .sidebar {
    width: 100%;
  }
}

.hero-section {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 3rem;
  margin-bottom: 10em;
  animation: fade-up 1s;
}

@media(max-width: 1000px) {
  .hero-section {
    flex-wrap: wrap;
    justify-content: center;
  }
}

.hero-left {
  width: 950px;
  margin-top: 1em;
}

h1 {
  font-size: 4rem;
  line-height: 1.2em;
  margin-bottom: 0.75em;
  font-family: "Lexend Deca";
  font-weight: 600;
}

.bg-image {
  position: absolute;
  z-index: -100;
}


.hero-left img {
  top: -500px;
  right: 500px
}

.waves {
  right: -500px;
  top: -150px;
  overflow-x: hidden;
}

@media(max-width: 1200px) {
  .waves {
    top: 30px;
    right: -350px;
  }
}

.subhead {
  margin-bottom: 2em;
}

.primary-cta {
  display: inline-flex;
  align-items: center;
  flex-basis: 1em;
  background: rgb(151, 157, 205);
  background: linear-gradient(160deg, rgba(151, 157, 205, 0.33) 0%, rgba(14, 199, 255, 0.6) 100%);
  border-radius: 5em;
  padding: 0.5em 2em;
  border: 2px solid #587DDB;
  margin-right: 1em;
  transition: .5s;
}

.primary-cta:hover {
  letter-spacing: 0.10em;
}

.secondary-cta {
  display: inline-flex;
  align-items: center;
  flex-basis: 1em;
  background: rgb(35, 76, 179);
  background: linear-gradient(52deg, rgba(35, 76, 179, 0.733) 0%, rgba(34, 185, 236, 0.59) 100%);
  border-radius: 5em;
  padding: 0.5em 2em;
  border: 2px solid #587DDB;
  margin: 2em 0em;
  transition: .5s;
}

.secondary-cta:hover {
  letter-spacing: 0.10em;
}

.pillars {
  margin-bottom: 15em;
}

.pillars h2 {
	animation: fade-up 1s;
}

h2 {
  text-align: center;
  font-size: 3.5rem;
  margin: 1em;
  background: linear-gradient(to right, #f32170, #ff6b08, #cf23cf, #eedd44);
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
}

.pillars-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
  gap: 2rem;
  position: relative;
}

.pillars p {
  font-size: 1.2rem;
}

.pillars img {
  position: absolute;
  z-index: -1;
  top: 350px;
  left: -30%;
  opacity: 50%;
}

h3 {
  font-size: 2.7rem;
  font-weight: 500;
  margin: 0.5em;
  text-align: center;
}

.inclusivity,
.innovation,
.collaboration {
  background: red;
  padding: 2.5em;
  border-radius: 20px;
}

.inclusivity {
  background: rgb(114, 83, 199);
  background: linear-gradient(152deg, rgba(114, 83, 199, 0.808) 0%, rgba(255, 255, 255, 0.367) 100%);
  box-shadow: 0 0 15px#7253C7;
}

.innovation {
  background: rgb(248, 80, 27);
  background: linear-gradient(152deg, rgba(248, 79, 27, 0.819) 0%, rgba(255, 255, 255, 0.336) 100%);
  box-shadow: 0 0 15px #F8501B;
}

.collaboration {
  background: rgb(255, 10, 201);
  background: linear-gradient(152deg, rgba(255, 10, 202, 0.795) 0%, rgba(255, 255, 255, 0.353) 100%);
  box-shadow: 0 0 15px #FF0AC9;
}

.join-community {
  display: grid;
  gap: 3rem;
  place-items: center;
  grid-template-columns: repeat(auto-fit, minmax(450px, 1fr));
  margin-top: 5em;
  margin-bottom: 15em;
}

.join-discord {
  flex: 0 0 auto;
}

.join-community h3 {
  text-align: start;
  font-size: 2.3rem;
}

.join-community p {
  margin-left: 4em;
}

.meaningful-connections-heading,
.affordable-solutions-heading {
  display: flex;
}

.offerings {
  position: relative;
  margin-bottom: 10em;
}

.offerings>.bg-image {
  left: -500px;
  top: -500px;
  opacity: 50%;
}

.carousel-container {
  display: grid;
  grid-auto-flow: column;
  grid-auto-columns: 61%;
  gap: 1rem;
  padding: 1rem;
  overflow-x: auto;
  overscroll-behavior-inline: contain;
  scroll-snap-type: x mandatory;
  scroll-behavior: smooth;
}

.carousel {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2rem;
  background: rgba(15, 15, 15, 0.412);
  border-radius: 15px;
  gap: 3rem;
}

.carousel-container h4 {
  font-size: 1.3rem;
  margin: 0.5em 0em;
  font-weight: 600;
}

.carousel-container p {
  font-size: 1.05rem;
  font-weight: 300;
}

@media(max-width: 1300px) {
  .carousel {
    flex-direction: column;
    justify-content: flex-start;
    ;
  }

	#offright {
		display:none;
	}
}

@media(max-width: 700px) {
  .carousel-container {
    grid-auto-columns: 81%;
  }
}

footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
}

footer p {
  font-size: 0.8rem;
  font-weight: 300;
}

footer::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 1px;
  background-color: white;
  top: -20px;
}

.icons {
  display: flex;
  gap: 1em;
}

.icons>img {
  width: 25px;
}

.programs h4{
	font-size: 1.7rem;
	  font-weight: 600;
	  margin: 0.5em 0em;
}

.sub-body {
  padding: 1.4rem;
  padding-left: 10rem;
}

.sub-icon {
  position: absolute;
  transform: translate(-140%, 50%)
}

#lightbulb {
	transform: translate(-180%,50%);
}

#upright {
  position: absolute;
  z-index: -10;
  transform: translate(20%, -20%);
}

#pillarsbg {
  position: absolute;
  z-index: -10;
  transform: translate(-10%, -8%);
}

#offleft {
  position: absolute;
  z-index: -10;
  transform: translate(-10%, -25%);
}

#offright {
  position: relative;
  z-index: -10;
  transform: translate(80%, -100%);
}

@media(max-width: 500px) {
  h1 {
    font-size: 3rem;
  }

  h2 {
    font-size: 2rem;
  }

  h3 {
    font-size: 1.5rem;
  }

  p {
    font-size: 1rem;
  }

  .logo-text {
    font-size: 0.7rem;
  }

  .header-left img {
    width: 40px;
  }

  header {
    margin-bottom: 1em;
  }

  .pillars {
    margin-bottom: 10em;
  }

  .pillars-grid {
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  }

  .pillars p {
    font-size: 1rem;
  }

  .join-community {
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    margin-bottom: 10em;
  }

  .join-community h3 {
    font-size: 1.5rem;
  }

  .join-community p {
    margin-left: 0;
    font-size: 0.9rem;
  }

  .join-discord {
    width: 300px;
  }

  .meaningful-connections-heading,
  .affordable-solutions-heading img {
    width: 30px;
  }

  .icons>img {
    width: 15px;
  }

  .carousel-container {
    grid-auto-columns: 91%;
    margin: 0;
    padding: 1em 0em;
  }

  .carousel-container p {
    font-size: 0.7rem;
    font-weight: 300;
  }

  footer p {
    font-size: 0.6rem;
    font-weight: 300;
    margin-right: 1em;
  }

	#offright {
		display:none;
	}
}



/* CTA button effects */

:root {
  $bg-color: #F1E9DA;
  $link-text-color: #fff;
  $button-bg-1: #541388;
  $button-bg-2: #D90368;

}

.effect {
  text-align: center;
  display: inline-block;
  position: relative;
  text-decoration: none;
  color: $link-text-color;
  text-transform: capitalize;

  /* background-color: - add your own background-color */
  font: {
    family: 'Roboto', sans-serif;
    /* put your font-family */
    size: 18px;
  }

  padding: 20px 0px;
  width: 150px;
  border-radius: $border-radius;
  overflow: hidden;
}

/* effect-1 styles */

.effect.effect-1 {
  display: inline-flex;
  align-items: center;
  flex-basis: 1em;
  background: rgb(151, 157, 205);
  background: linear-gradient(160deg, rgba(151, 157, 205, 0.33) 0%, rgba(14, 199, 255, 0.6) 100%);
  border-radius: 5em;
  padding: 0.5em 2em;
  border: 2px solid #587DDB;
  margin-right: 1em;
  transition: .5s;
  transition: all 0.2s linear 0s;

  &:before {
    content: "\f178";
    font-family: FontAwesome;
    font-size: 15px;
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    right: 0;
    top: 0;
    opacity: 0;
    height: 100%;
    width: 40px;
    transition: all 0.2s linear 0s;
  }

  &:hover {
    text-indent: -20px;

    &:before {
      opacity: 1;
      text-indent: 0px;
    }
  }
}

/* effect-2 styles */

#secondary-cta {
  width: 285px;
}

.effect.effect-2 {
  transition: all 0.2s linear 0s;
  display: inline-flex;
  align-items: center;
  flex-basis: 1em;
  background: rgb(35, 76, 179);
  background: linear-gradient(52deg, rgba(35, 76, 179, 0.733) 0%, rgba(34, 185, 236, 0.59) 100%);
  border-radius: 5em;
  padding: 0.5em 2em;
  border: 2px solid #587DDB;
  margin: 2em 0em;
  transition: .5s;

  &:before {
    content: "\f178";
    font-family: FontAwesome;
    font-size: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 0;
    right: -30px;
    width: 30px;
    height: 100%;
    background-color: rgba($overlay-color, 0.3);
    border-radius: 0px $border-radius $border-radius 0px;
    transition: all 0.2s linear 0s;
    text-align: center;
  }

  &:hover {
    text-indent: -30px;

    &:before {
      right: 0;
      text-indent: 0px;
    }
  }
}
