.team-container {
    display: grid;
    gap: 2em;
    width: 60vw;
    max-width: 800px;
    margin: auto;
    place-items: center;
    position: relative;
    margin-bottom: 10em;
}

.team-1 p, .team-2 p{
    font-size: 2rem;
    line-height: 2.5rem;
    font-weight: 500;
    text-align: center;
    
    background-attachment: fixed;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;

    --globe-size: 1000px;

    background-size: calc(2*var(--globe-size));
    animation: rotate 35s linear infinite;
}

.team-1 p {
    background-image: url(pngs/wp6750500.webp);
}

.team-2 p {
    background-image: url(pngs/wp6750500.webp);
    filter: hue-rotate(95deg);
}

button {
    padding: 0.3em 1em;
    background-color: white;
    border-radius: 10px;
    cursor: pointer;
    font-size: 1.3rem;
    margin: auto;
    max-width: 300px;
}

.team-container img {
    background-image: -webkit-gradient(to right, #f32170, #ff6b08, #cf23cf, #eedd44);
    background-image: -moz-linear-gradient(to right, #f32170, #ff6b08, #cf23cf, #eedd44);
    padding: 4px;
    border-radius: 100%;
    transform: scale(0.7);
    position: absolute;
}

.member-1 {
    top: -80px;
    left: -180px;
}

.member-2 {
    bottom: 0px;
    left: -175px;
}

.member-3 {
    right: -200px;
    bottom: 30px;
}

.member-4 {
    right: -170px;
    top: -100px;
}

.bg-team-1 {
    top: -300px;
    right: -500px;
    z-index: -100000;
    opacity: 55%;
}


.bg-team-2 {
    bottom: 0px;
    left: -500px;
    z-index: -100000;
    opacity: 20%;
}

@media (max-width: 800px) {

    .team-1 p, .team-2 p {
        font-size: 1.5rem;
        line-height: 2rem;
    }

    .team-container {
        width: 90vw;
        margin: 10em 0em;
    }

    .team-container img {
        transform: scale(0.5);
    }

    .member-1 {
        top: -180px;
        left: -50px;
    }
    
    .member-2 {
        bottom: -150px;
        left: 0px;
    }
    
    .member-3 {
        right: 0px;
        bottom: -160px;
    }
    
    .member-4 {
        right: 0px;
        top: -150px;
    }
}